<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Decision</title>
    <link rel="stylesheet" href="/static/css/index.css">
  </head>
  <body>
    <div class="container">
      <div class="card recruiter" onclick="window.location.href='/app/login?role=recruiter'">
        <h2>Sou Recrutador</h2>
        <p>Quero publicar vagas e encontrar talentos</p>
      </div>
      <div class="card candidate" onclick="window.location.href='/app/login?role=candidate'">
        <h2>Sou Candidato</h2>
        <p>Quero encontrar oportunidades de trabalho</p>
      </div>
    </div>
  </body>
</html>
